<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Trainer Dashboard</title>
    <link rel="stylesheet" href='{% static "saigym/css/bootstrap.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "saigym/css/font-awesome.min.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "saigym/css/flaticon.css" type="text/css"> %}'>
    <link rel="stylesheet" href='{% static "saigym/css/owl.carousel.min.css" type="text/css"> %}'>
    <link rel="stylesheet" href='{% static "saigym/css/magnific-popup.css" type="text/css"> %}'>
    <link rel="stylesheet" href='{% static "saigym/css/slicknav.min.css" type="text/css"> %}'>
    <link rel="stylesheet" href='{% static "saigym/css/style1.css" type="text/css"> %}'>
     <link rel="stylesheet" href='{% static "saigym/css/memberLogin.css" type="text/css"> %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    dateTime = function () {
        var now = new Date();
        var hours = now.getHours();
        var greet;

        if (hours < 12) {
            greet = "Good Morning,";
        } else if (hours < 16) {
            greet = "Good Afternoon,";
        } else {
            greet = "Good Evening,";
        }

        $('#time').html(greet);
    };

    menuDropdowns = function () {
        $('.dropdown').each(function () {
            const links = $(this).find('.links');
            const h = links.height();

            links.css('height', '0');

            $(this).click(function () {
                if ($(this).toggleClass('js-opened').hasClass('js-opened')) {
                    links.css('height', h);
                } else {
                    links.css('height', 0);
                };

            });
        });
    };

    $(document).ready(function () {

        menuDropdowns();
        dateTime();

        $('.js-toggle-menu').click(function () {
            $('.menu').toggleClass('active');
        });
    });

    $(document).ready(function() {
	$(".btni").click(function() {
		$("#test1").show();
	});
});
</script>
<style>
    #test1 {
    display:none;
    }
    #diettab{
    display: none;
    }
    #diettab:after{
    display:block;}
    </style>
</head>

<body>
    <div class="menu">
        <div class="heading">`
            <p>Sai Gym</p>
            <div class="menu-icon js-toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="wrap">
            <a href="">Dashboard</a>
            <a class="btni" href="/saigym/trainerDashboardChangePassword">Change Password</a>

            <p class="title">Member Section</p>
<!--
            <a href="">Add Member</a>
            <a href="">Update Member</a> -->

            <!-- <div class="dropdown">
                <p>Dropdown</p>
                <div class="links">
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                    <a href="">Dropdown Item</a>
                </div>
            </div> -->

            <!-- <a href="">Delete Member</a> -->
   <div class="wrap">
            <a href="/saigym/uploadDietWorkout/" id="b1">Upload Diet/ Workout</a>
            <!-- <a class="btni" href="">Upload Workout</a> -->
   </div>
            <!-- <div class="dropdown">
                <p>Yearly Member Card</p>
                <div class="links">
                    <a href="">Create Gym Card</a>
                    <a href="">Manage Gym Card</a>
                </div>
            </div> -->

            <!-- <p class="title">Trainer Section</p> -->

            <!-- <div class="dropdown">
                <p>Manage Trainers</p>
                <div class="links">
                    <a href="">Add Trainers</a>
                    <a href="">Update/Delete Trainers</a>
                </div>
            </div> -->
            <!-- <div class="dropdown">
                <p>Yearly Member Card</p>
                <div class="links">
                    <a href="">Create Gym Card</a>
                    <a href="">Manage Gym Card</a>
                </div>
            </div>       -->
                 <a href="/saigym/adminLogout">Log Out</a>
        </div>
    </div>

    <div class="content" style="overflow: scroll;">
        <div class="header">
            <p><span id="time"></span> {{user.username}}</p>
            <a href="/saigym/adminLogout"><i class="fas fa-user"> Logout</i></a>
            <div> {% block trainer%}
                {% endblock%}
            </div>
        </div>

        </div>

<!--        <div class="body">-->
<!--            <iframe src="http://127.0.0.1:5500/changePassword.html" id="test1" frameborder="0"></iframe>-->
<!--        </div>-->

    <section id="diettab">
        <div class="header">
         <div class="col-lg-8">
                <form action="/saigym/contact/" class="contact-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" name="name" value="{{User.first_name}}" placeholder="Member Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" name="email" placeholder="Member E-mail">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" name="subject" placeholder="Subject">
                            <textarea name="message" placeholder="Assign Diet"></textarea>
                            <input type="submit" class="submit-btn contact-btn" value="Send">
                        </div>
                    </div>
                </form>
            </div>
    </div>

</section>

	  <script>
		var a=document.getElementById("b1")

		if(a){
			var diett=document.getElementById("diettab");
			diett.display="block";
		}
		</script>
</body>

</html>
