{% extends "saigym/AdminLogin.html" %}
{% block dashboard %}
<head>
    <title>Add Trainer</title>
    <style>
        .table td,
        th,
        h4 {
            text-align: center;

        }

        .alert-success {
            margin-left: 580px;
            margin-top: 10px;
        }

</style>
</head>
<h3 class="alert alert-danger" style="text-align: center; width: 100%;">Dashboard &gt Update/ Delete Trainer</h3>
<div class="body">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
<!--            <th scope="col">Last Name</th>-->
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for disRes in authTrainer %}
        <tr>
            <td>{{disRes.id}}</td>
            <td>{{disRes.firstname}} {{disRes.lastname}}</td>
<!--            <td></td>-->
            <td>{{disRes.username}}</td>
            <td>{{disRes.email}}</td>
            <td><a href="{% url 'updateTrainer' disRes.id%}">
                <button class="btn btn-success"><i class="fas fa-user"></i> Update</button>
            </a>
            </td>
            <td><a href="{% url 'deleteTrainer' disRes.id%}">
                <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
            </a></td>
        </tr>

        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
